body {
    font-size: 18px;
    font-family: 'Bai Jamjuree', 'Helvetica neue', Helvetica;
    color: $gBlue;
    font-weight: $light;
    line-height: 1.75em;
    background: url('../images/bg-header-desktop.png') no-repeat;
}